@import url("https://use.typekit.net/hxu0vzl.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    select,
    options {
        all: unset;
        border: 2px solid blue;
        padding: 2px;
    }

    thead tr th,
    td,
    tr {
        padding: 4px;
    }

    thead tr th {
        min-height: 80px;
    }

    button {
        background-color: blue;
        width: fit-content;
        height: fit-content;
        padding: 8px;
        border-radius: 10px;
        color: white;
    }

}